*, 
*::after, 
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow: hidden;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

.alert {
  display: flex;
  gap: 15px;
  position: absolute;
  top: -50%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  font-weight: 700;
  transition: top 0.3s ease-in-out;
}

.visible {
  top: 10%
}

.R {
  width: 64px;
  height: 64px;
  background-color: #FFFFFF;
  text-align: center;
  line-height: 64px;
  border-radius: 4px;
  box-shadow: 0px 6px 2px 3px #d9d9d9;
  transition: box-shadow 0.3s;
}

.text {
  padding: 5px;
  line-height: 27px;
  color: #FFFFFF;
  background-color: #000000;

}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  background-color: #d3d3d333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}

.menu h3 {
  margin: 10px 0;
  font-size: 3em;
  text-transform: uppercase;
}

.menu p {
  font-size: 1.25em;
}